---
import Layout from '../layouts/Base.astro';
---

<Layout
	title="About Me"
	description="Lorem ipsum dolor sit amet"
	image="/blog-placeholder-about.jpg"
>
<h1 class="title">about</h1>
<p class="mb-4">
	I'm an Australian senior software engineer who loves the idea of using the simplest technologies to achieve complex outcomes. I'm particularly passionate about improving developer experience so that every engineer I work with is empowered to answer with "yeah that should be easy to implement".
</p>
<p class="mb-4">
	I studied a mixture of software & marketing at <a class="link" href="https://www.qut.edu.au/" target="_blank">Queensland University of Technology</a> and am currently <a class="link" href="mailto:shortguy014@gmail.com?subject=Work%20Opportunity">open to work</a>. I currently live in Brisbane.
</p>
<p>
	In my spare time I maintain an open-source server side modding framework for <a class="link" href="https://www.counter-strike.net/cs2" target="_blank">Counter-Strike 2</a> in a mixture of .NET & C++.
</p>
</Layout>

