---
import BaseLayout from '../layouts/Base.astro';
import PostPreview from "@/components/blog/PostPreviewB";
import SocialMediaLinks from "@/components/SocialMediaLinks";
import { getAllPosts, sortMDByDate, sortMDByPinned } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
const allPostsByPinned = sortMDByPinned(allPostsByDate);

const tech: Array<{ title: string; desc: string; href: string }> = [
	{
		title: "Astro",
		desc: "Build fast websites, faster.",
		href: "https://astro.build",
	},
	{
		title: "Astro Assets",
		desc: "Built-in optimized asset support.",
		href: "https://docs.astro.build/en/guides/assets/",
	},
	{
		title: "Tailwind CSS",
		desc: "Rapidly build modern websites without ever leaving your HTML.",
		href: "https://tailwindcss.com",
	},
	{
		title: "Markdown",
		desc: "Simple and easy-to-use markup language.",
		href: "https://www.markdownguide.org/",
	},
	{
		title: "MDX",
		desc: "Markdown for the component era.",
		href: "https://mdxjs.com/",
	},
	{
		title: "Astro Icon",
		desc: "An easy to use Icon component for Astro.",
		href: "https://github.com/natemoo-re/astro-icon#readme",
	},
];

---

<BaseLayout title="about">
	<h1 class="title">about</h1>
	<p class="mb-4">
		I'm an Australian senior software engineer who loves the idea of using the simplest technologies to achieve complex outcomes. I'm particularly passionate about improving developer experience so that every engineer I work with is empowered to answer with "yeah that should be easy to implement".
	</p>
	<p class="mb-4">
		I studied a mixture of software & marketing at <a class="link" href="https://www.qut.edu.au/" target="_blank">Queensland University of Technology</a> and am currently <a class="link" href="mailto:shortguy014@gmail.com?subject=Work%20Opportunity">open to work</a>. I currently live in Brisbane.
	</p>
	<p class="mb-4">
		In my spare time I maintain an <a class="link" href="https://github.com/roflmuffin/CounterStrikeSharp" target="_blank">open-source server side modding framework</a> for <a class="link" href="https://www.counter-strike.net/cs2" target="_blank">Counter-Strike 2</a> in a mixture of .NET & C++.
	</p>

	<div>
		<span>You can find me on: </span>
		<SocialMediaLinks/>
	</div>
</BaseLayout>
